body {
    font-family: sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


nav ul, ol 
{
    margin: 0px;
    padding: 0px;
}

nav ul
{
    display: flex;
    flex-wrap: wrap;
}
nav li 
{
    list-style: none;
    align-content: center;
}

:root
{
    --dark-blue: #3d5b94;
    --dark-blue-2: #1d3e7c;
}

nav
{
    background: var(--dark-blue);
    color: white;
    padding: 0em;
}

nav a 
{
    cursor: pointer;
}

nav>a, nav li>a 
{
    padding: 0.75em 2em;
    text-decoration: none;
    color: white !important;
    display: inline-flex;
}


nav li>a:hover
{
    text-decoration: none;
    background: var(--dark-blue-2);
}

/*nav li:hover>a 
{
    background: var(--dark-blue-2);
}*/

.sub-nav>ul
{
    display: none;
    position: absolute;
    flex-direction: column;
    border-top: 1px solid white;
    
}

.sub-nav>ul>li>a 
{
    width: 200px;
}

.sub-nav:hover>ul
{
    display: flex;
    background: var(--dark-blue);
}

.logo {
    width: 100px;
    height: auto;
}
.logo img
{
    width: 100%;
}

#banner 
{
    display: flex;
    padding: 2em 2em;
}
#pre-banner
{
    text-transform: uppercase;
    padding: 1em 2em;
    background: var(--dark-blue);
    color:white;
    font-size: 0.75em;
}

#banner-text
{
    flex-grow: 1;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0em 1em;
}

#banner-text>div:first-child
{
    font-size: 35px;
    padding-bottom: 5px;
}

main
{
    padding: 2em;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

footer
{
    padding: 2em;
    color: white;
    background: var(--dark-blue);

}

.stats 
{
    text-align: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.stats-box 
{
    display: inline-block;
    border-radius: 3px;
    margin: 20px;
    flex-grow: 1;

}
.stats-box .figure 
{
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    padding: 15px 30px;
}
.stats-box .legend 
{
    text-align: center;
    padding: 15px 30px;
}

#menu-toggle
{
    display: none;
}


@media screen and (max-width: 760px) {
.logo
{
    width: 75px;
}
#banner
{
    padding-top:1em;
    padding-bottom:1em;
}
#banner-text
{ 
    font-size: 16px;
}

#banner-text>div:first-child
{
    font-size: 24px;
    padding-bottom: 5px;
}
 nav ul
 {
    display: none;
 }
 #menu-toggle 
    {
        display: block;
        width: 100%;
    }
  nav li, nav li a, .sub-nav > ul > li > a
  {
    width: 100%;
  }
  .sub-nav ul
  {
    border: none;
    margin-left: 20px;
  }
  nav .sub-nav ul
  {
    position: relative;
  }
    .sub-nav:hover>ul
    {
        display: none;
        background: var(--dark-blue);
    }

    nav ul.open, .sub-nav ul.open 
    {
        display: flex;
    }
}